.table-responsive{
    width: 100%;
    display:'block';
    overflow-x: auto;
}

.table-outline {
    border: 1px solid #c8ced3;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.headertable{
    background-color: white;
   
}

.tableBoxShadow{
    box-shadow: 3px 3px 3px grey;
}
.d-sm-table {
    display: table!important;
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #b1b0b0;
}

 .msgIcon{
    color: #3286a0;
    cursor: pointer;
 }

 .thead{
    font-weight: bold
 }
 .tcenter{
     text-align: center;
 }

 .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

 

.smallText{
 color: gray;
 font-size: 11px;
}

.tdBold{
    font-weight: bold;
}

.p0{
    padding: 0% !important;
}

.pl5{
    padding-left: 5px !important;
    padding-right: 0% !important;
}

.tdName{
    text-align: left;
    padding: 2px;
    width: 20%;
}

.tdActivity{
    width: 90%;
}

.tdIcon{
    /* width: 6%; */
    width:'100%';
    padding: 3px;
}

.tdTotal{
    width: 4%;
}
 
.tdStatus{
    /* width: 14%; */
    text-align: center;
}

.tcenter> tr > td{
 padding: 3px;
 font-size: 11px;
}

.status{
    padding: 0% !important;
}
 

.trtitle{
    text-align: center;
    background-color: #b98181 !important;
    color: white;
}

.alignRight{
    text-align: right;
}
 
.scroll{   
   width: 100%;
   table-layout: fixed;
   display: block;
   overflow-y: scroll;
   height: 152px !important;
}

.scrolltr{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tdClosed{
    background-color: #c1f1d6;
    cursor:pointer;
}

.tdPending{
    background-color: #f3f1d0;
    cursor: pointer;
}

.tdOpen{
    background-color: #f9e8e8;
    cursor: pointer;
}

.tdReopen{
    background-color: #f9e8e8;
    cursor: pointer;
}

.tdInProcess{
    background-color: #f3f1d0;
    cursor: pointer;
}

.tdResolved{
    background-color: #d8f1e3;
    cursor: pointer;
}

.empDashboard{
      background-color: none !important;
      /* box-shadow: 5px 10px #fffefe */
      box-shadow: 5px 5px 5px grey;
}

.empDashboard> thead>tr>td{  
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: center; 
  }

.empDashboard> tbody>tr>td{  
    padding: 1px !important;
    line-height: 1.42857143;
    vertical-align: center;
    text-align: right; 
    padding-right: 5px !important;
  }

.theadRow{
    color: white;
    background-color: #b98181 !important;
  }
 
  .tleft{
      text-align: left !important;  
      padding-left: 6px !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
  }

  .lastAct{
    font-size: 11px;
    font-weight: bold;
    padding-left: 8px !important;
  }

  .table-responsive>.table-bordered > tbody > tr > td{
    border: 1px solid #a59f9f;
    padding:15px;
  }
 
  .table-responsive>.table-bordered > thead > tr > td{
    border: 1px solid #a59f9f;
  }
  

  .pTop16{
    padding-top: 16px !important;
  }

  .globalTable{
    border-radius: 16px !important;
    padding: 11px;
    border: 1px solid #b9b7b7; 
     background-color: whitesmoke;
  }
 
  .reportHeading{
    background: #359887;
    color: white;
    padding: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    padding-left: 10px;
  }

  .clientReportHeading{
    background: #ee6e3b;
    color: white;
    padding: 4px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-weight: bold;
    font-size: 17px;
    padding-left: 10px;
  }

  .mTop1{
      margin-top: 1%;
  }

  .table-wrap{
    height: 160px;
    overflow-y: auto;
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}


.fixed {
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid gray;
  }
 
  .fixed th,
  .fixed td {
    padding: 5px;
    text-align: left;
    min-width: 430px;
  }
  
  
  .fixed thead {
    background-color: rgb(240, 238, 238);
    color: rgb(26, 25, 25);
    font-weight: bold;
  }
  .fixed thead tr {
    display: block;
  }
  .fixed tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 188px;
    overflow-y: scroll;
    overflow-x: hidden; 
    background-color: white;
  }
  
  .empDashboard.table tbody tr:hover td, .empDashboard.table tbody tr:hover th 
  {
    background-color: #eba483;
}
  
.bgRed{
    background-color: #eabcbc;
}

.address{
    width: 30% !important;
}

.name{
    width: 20% !important;
}