.mytable > tr > th {
    background: #4d4f5057;
}

.mytable > tr > td {
    background: rgba(162, 162, 162, 0.18);
    border-spacing: white;
    height: 10px;
}

.mytable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    font-size: 13px;
}

.Reportpanel-body {
    padding: 1px;
}

.SearchContainerStyle{
    padding: 0px;
    float: left;
    background: #e8e8e8;;
    margin-bottom: 8px;
}

.mleft10{
    margin-left: 10px;
}
.panelHeading{
    font-size: 12px;
    cursor: pointer;
}

.mleft1{
    margin-left: 2%; 
}

.messageStyle{
    border-style: dotted;
    padding: 10px;
    color: rgb(20, 95, 20);
}

.trStyleDelay{
   background-color :rgb(248, 232, 232)
}

.trStyleSuccess{
    background-color: rgb(220, 238, 220)
}

.actionTable > tbody>tr>th{
    background: #526b77;
    color: white;
}

.responseDescription-editor-wrapper{
    border: 0px solid #e4dede;
    margin: 0.1em 0;
    padding-top: 0px;
}

#pac-input{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
#container {
    height: 100%;
    width: 100%;
    display: flex;
  }
#Employees{
    width: 20%;
    overflow: hidden !important;
    min-height: 100%; 
    height:auto !important;
    height:100%;
}

#locations{
    width: 80%;
}

.employee-result-content{
    display: flex;
}
.section-result-text-content{
    color: #8c8c8c;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    min-width: 1px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.employee-result-header {
    padding-top: 3px;
    padding-left: 5px;
    cursor: pointer;
}

.employee-result-title-container {
    padding-right: 10px;
    display: table-cell;
    width: 100%;
    white-space: normal;
}
.employee-result-title {
    color: #000;
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 2px;
    white-space: normal;
}

hr {
    margin-top: 9px;
    margin-bottom: 1px;
    border: 0;
    border-top: 1px solid #eee;
}


.mapButtonControl{
    background-color: #fff;
    border :2px solid #fff;
    border-radius :3px;
    box-shadow :0 2px 6px rgba(0,0,0,.3);
    cursor : pointer;
    margin-bottom: 22px;
    text-align :'center';
}

.mTop2{
    margin-top: 2%;
}

.search{
    margin-top: 1%;
    background-color: #dad6d6;
    padding: 2px;
}

.mapIcon{
    color: rgb(224, 94, 94);
    font-size: 35px;
    padding: 4px;
    border: 1px solid;
    cursor: pointer;
}

.isMinOrMaxRow{
    font-weight: bold;
    cursor: pointer;
}

.selectedDateRow{
    font-weight: bold;
}

.panel-default > .panel-heading {
    color: #f7f2f3;
    background-color: #287ec5;
    border-color: #e8e6e6;
}

.tasklogOdd{
    border: 3px solid #ea7ed8;
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 20px;
}

.tasklogEven {
    border: 3px solid #72b2de;
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 20px;
}

.reportHeader{
    font-size: 18px;
    text-align: center;
    color: #ab1862;
    font-weight: bold;
}
.reportHeading{
    color: #fbb8b8;
}

.react-bs-container-body{
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
}

.notClockedIn{
    background-color: rgb(255, 230, 230) !important
}

.mTop2{
    margin-top: 2%;
}
.taskDetailcss{
    width: 91%;
    margin: 5%;
}

.taskCompleted{
    background-color: rgb(220, 250, 220);
}