.taskSearch{
    padding:10px 0;
    margin-bottom: 10px;
    background-color: rgb(224, 220, 220);
    margin-top: 0.2%;
}

.myContainerHeading{
    text-align: left;
    color: rgb(7, 119, 189);
}

.formheader{
    margin: 0;
    padding: 8px 0;
    font-weight: 700;
    text-align: left;
    background-color: #526b77;
    color: white;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 17px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.react-bs-table-bordered {
    border: 1px solid #ddd;
    border-radius: 1px;
}

.headerbutton{
    margin: 0;
    text-align: left;
    padding: 4px 0;
    background-color: rgb(93, 175, 230);
    color: white;
    padding-right: 14px;
}

.taskLayout{
    /* max-width: 320px; */
    /* padding: 30px 38px 66px; */
    margin: -14px auto;
    border: 1px solid #cccccc;
  }

.taskSearch
  {
    padding-left:11px;
    box-sizing: border-box; 
    margin-bottom: 10px;
 }

.myContainer{
    position: absolute;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

.myViewTaskContainer{
    position: absolute;
    margin-left: 4%;
    margin-right: 1%;
    width: 90%;
}


.mytext{
    resize:vertical;
}

.heading{
    color: rgb(7, 119, 189);
    text-align: left;
}

.actionLayout{
    /* max-width: 320px; */
    /* padding: 30px 38px 66px; */
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 28px;
    
  }

  .file-drop-zone-title {
    color: #aaa;
    font-size: 1.6em;
     padding: 0px; 
    cursor: default;
}

.fr-box {
    position: relative;
    z-index: 0;
}

 .mytable {
    border: 1px solid black;
    padding: 4px;
    width: 100%;
}

 .mytable th, td {
    border: 1px solid white;
    padding: 3px;
    text-align: left;
    border-bottom: 0.25px solid #ddd;
}

 .mytable > tr > th{
    background: #aad9f8;

}

.mytable > tr > td{
 background: rgb(215, 233, 243);
 border-spacing: pink;
 height: 10px;
}

 .row{
    margin-top: 3px;
 }

 .react-bs-table-pagination {
    margin-top: -11px;
}

 .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 3px 0;
    border-radius: 4px;
}

.actionTable > tbody>tr>th{
    background: #526b77;
    color: white;
}

.DraftEditor-editorContainer {
    background-color: rgba(255,255,255,0);
    border-left: .1px solid transparent;
    position: relative;
    z-index: 0; 
}

.rdw-editor-wrapper {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #e6e6e6;
}

.draft-editor-inner {
    padding: 0 0px;
}

.editor-description-inner{
    padding-top: 0px;
}

.headertable> tbody> tr>th{
    background: rgb(247, 247, 247)
}

.panel-heading {
    padding: 1px 14px;
    border-bottom: 4px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.table > tbody > tr > td {
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 0px;
}

.mytable > tbody > tr > td {
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 0px;
}

.mytable > tbody > tr  {
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 2px;
    height: 29px;
}

.react-bs-container-header table-header-wrapper{
    line-height: 1;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 0px;
}

.headerImage{
background-color: rgb(93, 175, 230);
width: 4.333333%;
padding-top: 11px;
}

.myRow{
    margin-left: 0px;
}

.react-bs-table .table > thead > tr > th{
    padding: 4px 9px;
}

.arrow{
    transition: transform .3s;
}

.arrow.up{
    transform:  rotate(180deg)
}

.arrow.down{
    transform:  rotate(0deg)

}

.clearBtn{
    margin-top:2px;
}

.job-summary-strip {
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 20px;
    color: #454a4c;
    margin: 0px 14px;
    background: white;
}

.backBtn {
    width: 5.333333%;
}

.unreadBtn{
    width: 11.33333%;
}


.react-bs-table table td:hover {
    overflow-wrap: break-word;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding-bottom: 0.1%;
  }

  .response-editor-wrapper{
    border: 0px solid #e4dede;
}
.hide-toolbar { display:none !important; }

.pTop13{
    padding-top: 9px;
}
.public-DraftStyleDefault-block {
    margin: 0.3em 0;
    padding-top: 0px;
    padding-left: 5px;
} 

.priorityHigh{
    color: red;
}

.priorityMedium{
    color:orange
}

.priorityLow{
    color:green;
}

.tasknotification{
    font-weight: bold;
}