.taskSearch{
    padding:10px 0;
    margin-bottom: 10px;
    height:110px;
}


.taskLayout{
    /* max-width: 320px; */
    /* padding: 30px 38px 66px; */
    margin: -14px auto;
    border: 1px solid #cccccc;
  }

.taskSearch
  {
    padding:7px 0;
    box-sizing: border-box; 
    background-color: lightgray;
    margin-bottom: 10px;
    height:83px;
 }
.myContainer{
    position: absolute;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

.mytext{
    resize:vertical;
}

.heading{
    color: rgb(7, 119, 189);
    text-align: left;
}

.actionLayout{
    /* max-width: 320px; */
    /* padding: 30px 38px 66px; */
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 28px;
    
  }

  .file-drop-zone-title {
    color: #aaa;
    font-size: 1.6em;
     padding: 0px; 
    cursor: default;
}

.fr-box {
    position: relative;
    z-index: 0;
}

 .mytable {
    border: 1px solid black;
    padding: 4px;
    width: 100%;
}

 .mytable th, td {
    border: 1px solid white;
    padding: 3px;
    text-align: left;
    border-bottom: 0.25px solid #ddd;
}

 .mytable > tr > th{
    background: #b4b1e2;

}

.mytable > tr > td{
background: rgb(203, 202, 238);
border-spacing: pink;
height: 10px;
}







/* .FirstHeading {
    background-color: #8ca5ce;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    height: 24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    font-weight: bold;
    text-transform: uppercase;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    clip: rect(auto auto auto auto);
    float: none;
    text-indent: 12px;
    color: white;

}
.SecondHeading {
    background-color: #c6dbf2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    font-weight: bold;
    text-transform: capitalize;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    clip: rect(auto auto auto auto);
    float: none;
    text-indent: 5px;
    color: black;
    width: 12.5%;
}


.ChildRows {
    background-color: aliceblue;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    height: 20px;
    font-family: Arial;
    font-size: 9.5pt;
    border: 1px solid white;
    clip: rect(auto auto auto auto);
    float: none;
    text-indent: 5px;
    width: 12.5%;
} */
