.taskSearch{
    padding:10px 0;
    margin-bottom: 10px;
    height:110px;
}


.taskLayout{
    /* max-width: 320px; */
    /* padding: 30px 38px 66px; */
    margin: -14px auto;
    border: 1px solid #cccccc;
  }

