.mytext{
    resize:vertical;
}

.heading{
    color: rgb(7, 119, 189);
    text-align: left;
}



.actionLayout{
    /* max-width: 320px; */
    /* padding: 30px 38px 66px; */
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 28px;
    
  }

  .file-drop-zone-title {
    color: #aaa;
    font-size: 1.6em;
     padding: 0px; 
    cursor: default;
}

.fr-box {
    position: relative;
    z-index: 0;
}

