.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerimage{
  padding-top: 5px;
  width: 62px;
  height: 42px;
}
.header {
  background: white;
  height:30px;
  width:100px;
}

.dropdown-menu > li > a:hover {
  background-color: lightblue;
  background-image: none;
}

.dropdown > a:hover{
  background-color:lightblue;
  background-image: none;
}

/* .my-nav-bar{
  background: #fff!important;
  position: absolute;
  top:0;
  box-shadow: 0 -1px 5px #000;
  z-index: 2;
  font-size: 17px;
  width: 100%;
} */

nav> .navbar .navbar-inverse{
  background-color: #3a3a3a;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
  font-weight: 700;
}

/* .navbar {
  background-color: #444!important;
  border-color: #444!important;
  margin-bottom: 0!important;
  border-radius: 0!important;
  font-family: poppins,Open Sans,sans-serif!important;
} */

.navbar {
  background-color: #4f5e6b!important;
  border-color: #4f5e6b!important;
  margin-bottom: 0!important;
  border-radius: 0!important;
  font-family: poppins,Open Sans,sans-serif!important;
}

.navbar-menu-item {
  background-color: transparent!important;
  color: #f7f2f2!important;
  text-transform: uppercase;
  border-bottom: 2px solid transparent!important;
  line-height: 16px;
}

.dropdown-menu{
  padding: 0!important;
  margin-top: 0px;
  clear: both;
}

.btnClose{
  margin-right: 4%;
  width: 30px; 
  background: white;
  height: 30px; 
}

.modal-header {
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.modelClose{
  float: right;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 0px 0 #fbf8f8;
  filter: alpha(opacity=20);
  opacity: .2;
  border: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.modelBtnClose{
  margin-right: 4%;
  width: 27px;
  background: #fbfbfb;
  height: 41px;
}








