html,body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  height: 100%;
}


/*select*/
.Select{
  padding: 0!important;
  text-align: left;
}


.Select *{
  box-shadow: none!important;
}

.Select-control{
  border : none !important;
  height: 32px!important;
}

.Select-input{
  height: 32px!important;
}

.loader {
  display: none;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
}

.loader.visible{
display: block!important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pointer{
  cursor: pointer;
}

.input-group .form-control {
  position: unset !important;
  height: auto !important;
}


.p0{
  padding: 0!important;
}

.pver10{
  padding-top:10px!important;
  padding-bottom:10px!important; 
}

.mhor10{
  margin-left:10px!important;
  margin-right:10px!important;
}

.f18{
  font-size:18px!important; 
}

.trStatusOpen{
  background-color: rgb(255, 230, 230) !important
}

.trStatusClosed{
  background-color: white;
}

.trStatusPending{
  background-color: rgb(253, 243, 224) !important
}

.navbar-nav>li>.dropdown-menu > hover{
  background-color: rgb(128, 185, 240);
  }
  
  .navbar-inverse .navbar-nav > li > a {
    color: #38a6d2;
    font-size: 17px;
  }
  
  .navbar-inverse {
    background-color: #efefef;
  }

  .trStatusSuccess{
    background-color: rgb(221, 245, 219) !important
  }
  .pTop25{
      padding-top: 25px;
  }
















  
.main-header .navbar {
  margin-bottom: 0px;
  margin-left: 230px;
  min-height: 50px;
  transition: margin-left 0.3s ease-in-out 0s;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0px 0px 1px;
}


.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
  color: white;
  background-color: #4f5e6b!important;
}

.main-header .navbar {
  margin-bottom: 0px;
  margin-left: 230px;
  min-height: 50px;
  transition: margin-left 0.3s ease-in-out 0s;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0px 0px 1px;
}
 

 .main-header .navbar .sidebar-toggle {
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-sizing: border-box;
}

.main-header .navbar-custom-menu  {
  float: right;
  display: block;
  box-sizing: border-box;
}

.navbar-nav {
  float: left;
  margin: 0px;
}
.pointer {
  cursor: pointer;
} 
.dropdown, .dropup {
  position: relative;
  box-sizing: border-box;
}
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
.navbar-nav > li {
  float: left;
}

.main-sidebar {
  position: fixed;
  top: 0px;
 
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  transition: transform 0.3s ease-in-out 0s, width 0.3s ease-in-out 0s;
  /* background-color: rgb(34, 45, 50); */
  background-color: #4f5e6b!important;
  display: block;
  box-sizing: border-box;
}

.sidebar {
  padding-bottom: 10px;
  height: auto;
  box-sizing: border-box;
}
.sidebar-menu {
  list-style: none;
  margin: 0px;
  padding: 0px; 
  overflow: hidden; 
}

.navbar-custom-menu{
  display:block;
}


.sidebar-menu > li {
  position: relative;
  margin: 0px;
  padding: 0px;
}
 .sidebar-menu > li > .treeview-menu {
  margin: 0px 1px;
  background: rgb(44, 59, 65);
    display: none; 
  box-sizing: border-box;
  
}

.sidebar-menu > li:active > .treeview-menu, .sidebar-menu > li:hover >  .treeview-menu {
  margin: 0px 1px;
  background: rgb(44, 59, 65); 
  box-sizing: border-box;
  display: block !important;
}

.treeview-menu > li > a {
  /* display: none; */
  display: block;
  font-size: 14px;
  padding: 5px 5px 5px 15px;
  color: rgb(138, 164, 175);
}

.sidebar-menu li > a {
  position: relative;
}
 

.treeview-menu {
  display: none;
  list-style: none;
  padding: 0px 0px 0px 5px;
  margin: 0px; 
  box-sizing: border-box;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0px 1px;
  background: rgb(44, 59, 65);
}

.section{
  display: block;
}

.linkcursor {
  cursor: pointer;
  display: list-item;
  text-align: -webkit-match-parent;
  color: ghostwhite;
    padding: 10px;
}

.sidebar-menu > li {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.sidebar-menu > li:active,{

}

.sidebar-menu{
  list-style: none;
  box-sizing: border-box;
}

.sidebar-menu li > a > .pull-right-container {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}

.skin-blue .main-header .navbar .sidebar-toggle {
  color: rgb(255, 255, 255);
}
.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 15px;
  box-sizing: border-box;
}

.bg-green{
  background-color: rgb(19, 54, 19);
}

.dropdown-content{
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


.sidebar-menu > li:hover > a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

 
.dropdown-menu > li > a:hover {
  background-color: #3498db;
  background-image: none;
  color: white
}

.dropdown > a:hover{
  background-color:lightblue;
  background-image: none;
}

.dropdown-menu{
  padding: 0!important;
  margin-top: 0px;
  clear: both;
}

.navbar-menu-item {
  background-color: transparent!important;
  color: #f7f2f2!important;
  text-transform: uppercase;
  border-bottom: 2px solid transparent!important;
  line-height: 16px;
}
.logoMini{
  width: 44px;
  background-color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.f20{
  font-size: 20px;
  font-weight: bold;
}
